{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-info</title>
    <link rel="stylesheet" href="{%static 'styles/styles1.css'%}">
</head>
<body>
    <section>
        <div class="todo_conteiner">
            <div class="todo_item
                {% if books.is_favorite %}
                    marked
                {% endif %}
            ">
                <div class="todo_footer">
                    <div class="todo_contenttext">
                        <h3>{{ info.title }}</h3>
                        <p>{{ info.author }}</p>
                        <p>{{ info.description }}</p>

                    </div>
                    <div class="todo_time">
                        <p>{{ info.date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>