{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="{%static 'styles/styles1.css'%}">
</head>
<body>
    <section>
        <div class="create_container">
            <input type="text" class="create_input"
                placeholder="Напиши здесь что нибудь"            
            >
            <button class="create_button">ДОБАВИТЬ</button>
        </div>
        <div class="todo_conteiner">
            {% for books in book %}
            <div class="todo_item">
                <div class="todo_header">
                    <img class="checkbox" id="checkbox" src="./img/1. Enabled.svg" alt="checkbox">

                    <div class="imgs">
                        <img src="./img/delete.svg" alt="delete">
                        <img src="./img/star_border_24px.svg" alt="star">
                    </div>
                </div>
                <div class="todo_footer">
                    <div class="todo_contenttext">
                        <h3>{{ books.title }}</h3>
                        <p>{{ books.author }}</p>
                        <p>{{ books.description }}</p>
                    </div>
                    <div class="todo_time">
                        <p>{{ books.date }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>