{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="{%static 'styles/styles1.css'%}">
</head>
<body>
    <section>
        <div class="create_container">
            <input type="text" class="create_input"
                placeholder="Напиши здесь что нибудь"            
            >
            <button class="create_button">ДОБАВИТЬ</button>
        </div>
        <div class="todo_conteiner">
            {% for books in book %}
            <div class="todo_item
                {% if books.is_favorite %}
                    marked
                {% endif %}
            ">
                <div class="todo_header">
                    <div class="imgs">
                        <a href="{% url 'delete-books' books.id %}">
                            <img src="{%static 'img/delete.svg'%}" alt="delet">
                        </a>
                        {% if books.is_favorite %}
                            <a href="{% url 'unmark-books' books.id %}">
                                <img src="{%static 'img/starfull_24px.svg'%}" alt="star">
                            </a>
                        {% else %}
                            <a href="{% url 'mark-books' books.id %}">
                                <img src="{%static 'img/star_border_24px.svg'%}" alt="star">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="todo_footer">
                    <div class="todo_contenttext">
                        <a href="{% url 'books-datail' books.id %}"><h3>{{ books.title }}</h3></a>
                        <p>{{ books.author }}</p>
                        <p>{{ books.description }}</p>
                    </div>
                    <div class="todo_time">
                        <p>{{ books.date }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>