<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <section>
        <div class="create_container">
            <input type="text" class="create_input"
                placeholder="Напиши здесь что нибудь"            
            >
            <button class="create_button">ДОБАВИТЬ</button>
        </div>
        <div class="todo_conteiner">
            <div class="todo_item">
                <div class="todo_header">
                    <img class="checkbox" id="checkbox" src="./img/1. Enabled.svg" alt="checkbox">

                    <div class="imgs">
                        <img src="./img/delete.svg" alt="delete">
                        <img src="./img/star_border_24px.svg" alt="star">
                    </div>
                </div>
                <div class="todo_footer">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint quidem deleniti alias? Porro rem fugit animi nesciunt unde. At assumenda expedita recusandae magni enim, dolorem porro adipisci dolorum error.
                    </p>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_header">
                    <img class="checkbox" id="checkbox" src="./img/1. Enabled.svg" alt="checkbox">

                    <div class="imgs">
                        <img src="./img/delete.svg" alt="delete">
                        <img src="./img/starfull_24px.svg" alt="star">
                    </div>
                </div>
                <div class="todo_footer">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint quidem deleniti alias? Porro rem fugit animi nesciunt unde. At assumenda expedita recusandae magni enim, dolorem porro adipisci dolorum error.
                    </p>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_header">
                    <img class="checkbox" id="checkbox" src="./img/Object.svg" alt="checkbox">

                    <div class="imgs">
                        <img src="./img/delete.svg" alt="delete">
                        <img src="./img/starfull_24px.svg" alt="star">
                    </div>
                </div>
                <div class="todo_footer">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint quidem deleniti alias? Porro rem fugit animi nesciunt unde. At assumenda expedita recusandae magni enim, dolorem porro adipisci dolorum error.
                    </p>
                </div>
            </div>
            <div class="todo_item">
                <div class="todo_header">
                    <img class="checkbox" id="checkbox" src="./img/1. Enabled.svg" alt="checkbox">

                    <div class="imgs">
                        <img src="./img/delete.svg" alt="delete">
                        <img src="./img/star_border_24px.svg" alt="star">
                    </div>
                </div>
                <div class="todo_footer">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint quidem deleniti alias? Porro rem fugit animi nesciunt unde. At assumenda expedita recusandae magni enim, dolorem porro adipisci dolorum error.
                    </p>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_header">
                    <img class="checkbox" id="checkbox" src="./img/1. Enabled.svg" alt="checkbox">

                    <div class="imgs">
                        <img src="./img/delete.svg" alt="delete">
                        <img src="./img/starfull_24px.svg" alt="star">
                    </div>
                </div>
                <div class="todo_footer">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint quidem deleniti alias? Porro rem fugit animi nesciunt unde. At assumenda expedita recusandae magni enim, dolorem porro adipisci dolorum error.
                    </p>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_header">
                    <img class="checkbox" id="checkbox" src="./img/Object.svg" alt="checkbox">

                    <div class="imgs">
                        <img src="./img/delete.svg" alt="delete">
                        <img src="./img/star_border_24px.svg" alt="star">
                    </div>
                </div>
                <div class="todo_footer">
                    <p>
                        Lorem ipsum dolor sit amet 
                    </p>
                </div>
            </div>
        </div>
 
    </section>
</body>
</html>